problem link: https://leetcode.com/problems/employees-earning-more-than-their-managers/description/?lang=pythondata

In [1]:
import pandas as pd

### Generating test cases

In [15]:
employee=pd.read_csv('./test_data/employee.csv',delimiter='|')
employee

   id   name  salary  managerId
0   1    Joe   70000        3.0
1   2  Henry   80000        4.0
2   3    Sam   60000        NaN
3   4    Max   90000        NaN

In [16]:
employee.dtypes

id             int64
name          object
salary         int64
managerId    float64
dtype: object

In [4]:
employee.columns

Index(['id', 'name', 'salary', 'managerId'], dtype='object')

### Solving problem

In [36]:
employee=employee.merge(employee[['id','salary']],how='left',left_on='managerId',right_on='id')   #merging two dataframes
employee

   id_x   name  salary_x  managerId  id_y  salary_y
0     1    Joe     70000        3.0   3.0   60000.0
1     2  Henry     80000        4.0   4.0   90000.0
2     3    Sam     60000        NaN   NaN       NaN
3     4    Max     90000        NaN   NaN       NaN

In [37]:
result=pd.DataFrame(employee[employee.salary_x>employee.salary_y].name.rename('Employee'))
result

  Employee
0      Joe

### Preparing Submission function

In [41]:
def find_employees(employee: pd.DataFrame) -> pd.DataFrame:
    employee=employee.merge(employee[['id','salary']],how='left',left_on='managerId',right_on='id')     #merging two dataframes
    
    return pd.DataFrame(employee[employee.salary_x>employee.salary_y].name.rename('Employee'))

### Testing the submission function

In [42]:
employee=pd.read_csv('./test_data/employee.csv',delimiter='|')

In [43]:
find_employees(employee=employee)

  Employee
0      Joe

In [12]:
pd.__version__

'2.2.2'

In [13]:
import numpy as np

In [14]:
np.__version__

'1.26.4'