problem link: https://leetcode.com/problems/duplicate-emails/?lang=pythondata

In [1]:
import pandas as pd

### Generating test cases

In [2]:
person=pd.read_csv('./test_data/person_email.csv',delimiter='|')
person

   id    email
0   1  a@b.com
1   2  c@d.com
2   3  a@b.com

In [3]:
person.dtypes

id        int64
email    object
dtype: object

In [4]:
person.columns

Index(['id', 'email'], dtype='object')

### Solving problem

In [10]:
result=person[person.email.duplicated()].email.rename('Email')
result

2    a@b.com
Name: Email, dtype: object

In [11]:
result=pd.DataFrame(result)
result

     Email
2  a@b.com

### Preparing Submission function

In [12]:
def duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    
    return pd.DataFrame(person[person.email.duplicated()].email.rename('Email'))

### Testing the submission function

In [13]:
person=pd.read_csv('./test_data/person_email.csv',delimiter='|')

In [14]:
duplicate_emails(person=person)

     Email
2  a@b.com

In [12]:
pd.__version__

'2.2.2'

In [13]:
import numpy as np

In [14]:
np.__version__

'1.26.4'