problem link: https://leetcode.com/problems/duplicate-emails/?lang=pythondata

In [15]:
import pandas as pd

### Generating test cases

In [25]:
person=pd.read_csv('./test_data/person_email.csv',delimiter='|')
person

   id            email
0   1          a@b.com
1   2          c@d.com
2   3          a@b.com
3   4  jacky@yahoo.com
4   5  jacky@yahoo.com
5   6  jacky@yahoo.com

In [18]:
person.dtypes

id        int64
email    object
dtype: object

In [19]:
person.columns

Index(['id', 'email'], dtype='object')

### Solving problem

In [ ]:
result=person[person.email.duplicated()]         #getting duplicates     
result

   id            email
2   3          a@b.com
4   5  jacky@yahoo.com
5   6  jacky@yahoo.com

In [28]:
result=result.email.drop_duplicates().rename('Email')    #keeping only one record
result

2            a@b.com
4    jacky@yahoo.com
Name: Email, dtype: object

In [29]:
result=pd.DataFrame(result)
result

             Email
2          a@b.com
4  jacky@yahoo.com

### Preparing Submission function

In [33]:
def duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    
    return pd.DataFrame(person[person.email.duplicated()].email.drop_duplicates().rename('Email'))

### Testing the submission function

In [34]:
person=pd.read_csv('./test_data/person_email.csv',delimiter='|')

In [35]:
duplicate_emails(person=person)

             Email
2          a@b.com
4  jacky@yahoo.com

In [12]:
pd.__version__

'2.2.2'

In [13]:
import numpy as np

In [14]:
np.__version__

'1.26.4'