problem link: https://leetcode.com/problems/customers-who-never-order/description/?lang=pythondata

In [1]:
import pandas as pd

### Generating test cases

In [2]:
customers=pd.read_csv('./test_data/customers.csv',delimiter='|')
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [3]:
customers.dtypes

id       int64
name    object
dtype: object

In [4]:
customers.columns

Index(['id', 'name'], dtype='object')

In [5]:
orders=pd.read_csv('./test_data/orders.csv',delimiter='|')
orders

   id  customerId
0   1           3
1   2           1

In [6]:
orders.dtypes

id            int64
customerId    int64
dtype: object

In [7]:
orders.columns

Index(['id', 'customerId'], dtype='object')

### Solving problem

In [9]:
result=customers.merge(orders,how='left',left_on='id',right_on='customerId')
result

   id_x   name  id_y  customerId
0     1    Joe   2.0         1.0
1     2  Henry   NaN         NaN
2     3    Sam   1.0         3.0
3     4    Max   NaN         NaN

In [14]:
result=result[result.customerId.isnull()].name.rename('Customers')
result

1    Henry
3      Max
Name: Customers, dtype: object

In [15]:
pd.DataFrame(result)

  Customers
1     Henry
3       Max

### Preparing Submission function

In [16]:
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    result=customers.merge(orders,how='left',left_on='id',right_on='customerId')

    return pd.DataFrame(result[result.customerId.isnull()].name.rename('Customers'))

### Testing the submission function

In [17]:
customers=pd.read_csv('./test_data/customers.csv',delimiter='|')
orders=pd.read_csv('./test_data/orders.csv',delimiter='|')

In [18]:
find_customers(customers=customers,orders=orders)

  Customers
1     Henry
3       Max

In [12]:
pd.__version__

'2.2.2'

In [13]:
import numpy as np

In [14]:
np.__version__

'1.26.4'