problem link: https://leetcode.com/problems/employees-earning-more-than-their-managers/description/?lang=pythondata

In [1]:
import pandas as pd

### Generating test cases

In [53]:
employee=pd.read_csv('./test_data/employee_test1_p176.csv',delimiter='|')
# employee=pd.read_csv('./test_data/employee_test2_p176.csv',delimiter='|')
employee

   id  salary
0   1     100
1   2     200
2   3     300

In [54]:
employee.dtypes

id        int64
salary    int64
dtype: object

In [55]:
employee.columns

Index(['id', 'salary'], dtype='object')

### Solving problem

In [56]:
employee=employee.sort_values(by='salary',ascending=False).reset_index(drop=True)   #descending sorting and reseting index so that our result can be found in 2nd index

In [57]:
result=employee[employee.index==1].salary.rename('SecondHighestSalary')    #getting 2nd index
result

1    200
Name: SecondHighestSalary, dtype: int64

In [58]:
len(result)

1

In [59]:
import numpy as np

In [60]:
if len(result)>0:
    result=pd.DataFrame(result)
else:
    result=pd.DataFrame({"SecondHighestSalary": pd.Series(np.nan)})

In [61]:
result

   SecondHighestSalary
1                  200

### Preparing Submission function

In [62]:
import pandas as pd
import numpy as np

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    employee=employee.sort_values(by='salary',ascending=False).reset_index(drop=True)   #descending sorting and reseting index so that our result can be found in 2nd index
    result=employee[employee.index==1].salary.rename('SecondHighestSalary')    #getting 2nd index
    
    if len(result)>0:
        return pd.DataFrame(result)
    else:
        return pd.DataFrame({"SecondHighestSalary": pd.Series(np.nan)})

### Testing the submission function

In [65]:
# employee=pd.read_csv('./test_data/employee_test1_p176.csv',delimiter='|')
employee=pd.read_csv('./test_data/employee_test2_p176.csv',delimiter='|')
employee

   id  salary
0   1     100

In [66]:
second_highest_salary(employee=employee)

   SecondHighestSalary
0                  NaN

In [12]:
pd.__version__

'2.2.2'

In [13]:
import numpy as np

In [14]:
np.__version__

'1.26.4'