problem link: https://leetcode.com/problems/nth-highest-salary/description/?lang=pythondata

In [1]:
import pandas as pd

### Generating test cases

In [17]:
# employee=pd.read_csv('./test_data/employee_test1_p176.csv',delimiter='|')
employee=pd.read_csv('./test_data/employee_test2_p176.csv',delimiter='|')
employee

   id  salary
0   1     100

In [18]:
employee.dtypes

id        int64
salary    int64
dtype: object

In [19]:
employee.columns

Index(['id', 'salary'], dtype='object')

### Solving problem

In [ ]:
employee=employee.sort_values(by='salary',ascending=False).reset_index(drop=True)   #descending sorting and reseting index so that our result can be found from n-1th index. Ex: 2nd highest salary will be found in 1st index

In [ ]:
N=2    #need to find nth index
result=employee[employee.index==N-1].salary.rename(f'getNthHighestSalary({N})')    #getting n-1 index
result

Series([], Name: getNthHighestSalary(2), dtype: int64)

In [35]:
len(result)

0

In [36]:
import numpy as np

In [40]:
if len(result)>0:
    result=pd.DataFrame(result)
else:
    result=pd.DataFrame({f'getNthHighestSalary({N})': pd.Series(np.nan)})

In [41]:
result

   getNthHighestSalary(2)
0                     NaN

### Preparing Submission function

In [47]:
import pandas as pd
import numpy as np

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    employee=employee.sort_values(by='salary',ascending=False).reset_index(drop=True)   #descending sorting and reseting index so that our result can be found in n-1th index. Ex: 2nd highest salary will be found in 1st index
    result=employee[employee.index==N-1].salary.rename(f'getNthHighestSalary({N})')    #getting n-1th index
    
    if len(result)>0:
        return pd.DataFrame(result)
    else:
        return pd.DataFrame({f'getNthHighestSalary({N})': pd.Series(np.nan)})

### Testing the submission function

In [50]:
# employee=pd.read_csv('./test_data/employee_test1_p176.csv',delimiter='|')
employee=pd.read_csv('./test_data/employee_test2_p176.csv',delimiter='|')
employee

   id  salary
0   1     100

In [51]:
nth_highest_salary(employee=employee,N=2)

   getNthHighestSalary(2)
0                     NaN