problem link: https://leetcode.com/problems/consecutive-numbers/description/?lang=pythondata

In [2]:
import pandas as pd

### Generating test cases

In [4]:
# scores=pd.read_csv('./test_data/p180_logs_test1.csv',delimiter='|')
scores=pd.read_csv('./test_data/p180_logs_test2.csv',delimiter='|')
scores

   id  num
0   1    3
1   2    3
2   3    3
3   4    3

In [5]:
scores.dtypes

id     int64
num    int64
dtype: object

In [6]:
scores.columns

Index(['id', 'num'], dtype='object')

### Solving problem

In [7]:
scores

   id  num
0   1    3
1   2    3
2   3    3
3   4    3

In [8]:
scores['lead1']=scores.num.shift(-1)   #lead operation
scores['lead2']=scores.lead1.shift(-1)   #lead operation
scores

   id  num  lead1  lead2
0   1    3    3.0    3.0
1   2    3    3.0    3.0
2   3    3    3.0    NaN
3   4    3    NaN    NaN

In [9]:
scores=scores[(scores.num==scores.lead1) & (scores.lead1==scores.lead2)]    #getting consecutive numbers
scores

   id  num  lead1  lead2
0   1    3    3.0    3.0
1   2    3    3.0    3.0

In [11]:
pd.DataFrame(scores.num.drop_duplicates().rename('ConsecutiveNums'))

   ConsecutiveNums
0                3

### Preparing Submission function

In [12]:
import pandas as pd

def consecutive_numbers(logs: pd.DataFrame) -> pd.DataFrame:
    logs['lead1']=logs.num.shift(-1)   #lead operation
    logs['lead2']=logs.lead1.shift(-1)   #lead operation
    logs=logs[(logs.num==logs.lead1) & (logs.lead1==logs.lead2)]    #getting consecutive numbers
    
    return pd.DataFrame(logs.num.drop_duplicates().rename('ConsecutiveNums'))

### Testing the submission function

In [15]:
scores=pd.read_csv('./test_data/p180_logs_test1.csv',delimiter='|')
# scores=pd.read_csv('./test_data/p180_logs_test2.csv',delimiter='|')
scores

   id  num
0   1    1
1   2    1
2   3    1
3   4    2
4   5    1
5   6    2
6   7    2

In [16]:
consecutive_numbers(logs=scores)

   ConsecutiveNums
0                1