problem link: https://leetcode.com/problems/game-play-analysis-i/description/?lang=pythondata

In [1]:
import pandas as pd

### Generating test cases

In [31]:
activity=pd.read_csv('./test_data/p511_activity.csv',delimiter='|')
activity

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          2          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5

In [19]:
activity.dtypes

player_id        int64
device_id        int64
event_date      object
games_played     int64
dtype: object

In [20]:
activity.columns

Index(['player_id', 'device_id', 'event_date', 'games_played'], dtype='object')

### Solving problem

In [27]:
activity.groupby(by='player_id').event_date.min().rename('first_login').reset_index()

   player_id first_login
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02

### Preparing Submission function

In [28]:
import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    return activity.groupby(by='player_id').event_date.min().rename('first_login').reset_index()

### Testing the submission function

In [32]:
activity=pd.read_csv('./test_data/p511_activity.csv',delimiter='|')
activity

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          2          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5

In [30]:
game_analysis(activity=activity)

   player_id first_login
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02