problem link: https://leetcode.com/problems/managers-with-at-least-5-direct-reports/description/?lang=pythondata

In [1]:
import pandas as pd

### Generating test cases

In [41]:
employee=pd.read_csv('./test_data/p570_employee.csv',delimiter='|')
employee

    id   name department  managerId
0  101   John          A        NaN
1  102    Dan          A      101.0
2  103  James          A      101.0
3  104    Amy          A      101.0
4  105   Anne          A      101.0
5  106    Ron          B      101.0

In [42]:
employee.dtypes

id              int64
name           object
department     object
managerId     float64
dtype: object

In [43]:
employee.columns

Index(['id', 'name', 'department', 'managerId'], dtype='object')

### Solving problem

In [ ]:
#getting employee wise report count
employee_wise_report=employee.groupby('managerId').id.count().rename('total_report').reset_index()
employee_wise_report

   managerId  total_report
0      101.0             5

In [ ]:
#filtering
filtered_employees=employee_wise_report[employee_wise_report.total_report>=5].managerId.values
filtered_employees

array([101.])

In [50]:
pd.DataFrame(employee[employee.id.isin(filtered_employees)].name)

   name
0  John

### Preparing Submission function

In [51]:
import pandas as pd

def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    #getting employee wise report count
    employee_wise_report=employee.groupby('managerId').id.count().rename('total_report').reset_index()

    #filtering
    filtered_employees=employee_wise_report[employee_wise_report.total_report>=5].managerId.values

    return pd.DataFrame(employee[employee.id.isin(filtered_employees)].name)

### Testing the submission function

In [52]:
employee=pd.read_csv('./test_data/p570_employee.csv',delimiter='|')
employee

    id   name department  managerId
0  101   John          A        NaN
1  102    Dan          A      101.0
2  103  James          A      101.0
3  104    Amy          A      101.0
4  105   Anne          A      101.0
5  106    Ron          B      101.0

In [53]:
find_managers(employee=employee)

   name
0  John