problem link: https://leetcode.com/problems/friend-requests-ii-who-has-the-most-friends/description/?lang=pythondata

In [2]:
import pandas as pd

### Generating test cases

In [3]:
request_accepted=pd.read_csv('./test_data/p602_request_accepted.csv',delimiter='|')
request_accepted

   requester_id  accepter_id accept_date
0             1            2  2016/06/03
1             1            3  2016/06/08
2             2            3  2016/06/08
3             3            4  2016/06/09

In [4]:
request_accepted.dtypes

requester_id     int64
accepter_id      int64
accept_date     object
dtype: object

In [5]:
request_accepted.columns

Index(['requester_id', 'accepter_id', 'accept_date'], dtype='object')

### Solving problem

In [ ]:
#getting total friend by requested
request_df=request_accepted.requester_id.value_counts().rename('total_requested').reset_index()
request_df

   requester_id  total_requested
0             1                2
1             2                1
2             3                1

In [ ]:
#getting total friend by accepter
accept_df=request_accepted.accepter_id.value_counts().rename('total_accepted').reset_index()
accept_df

   accepter_id  total_accepted
0            3               2
1            2               1
2            4               1

In [ ]:
#merging both dataframe
merged_df=request_df.merge(accept_df,how='outer',left_on='requester_id',right_on='accepter_id')
merged_df

   requester_id  total_requested  accepter_id  total_accepted
0           1.0              2.0          NaN             NaN
1           2.0              1.0          2.0             1.0
2           3.0              1.0          3.0             2.0
3           NaN              NaN          4.0             1.0

In [17]:
merged_df['id']=merged_df.requester_id.fillna(merged_df.accepter_id).astype(int)
merged_df

   requester_id  total_requested  accepter_id  total_accepted  id
0           1.0              2.0          NaN             NaN   1
1           2.0              1.0          2.0             1.0   2
2           3.0              1.0          3.0             2.0   3
3           NaN              NaN          4.0             1.0   4

In [18]:
merged_df[['total_requested', 'total_accepted']] = merged_df[['total_requested','total_accepted']].fillna(value=0)
merged_df

   requester_id  total_requested  accepter_id  total_accepted  id
0           1.0              2.0          NaN             0.0   1
1           2.0              1.0          2.0             1.0   2
2           3.0              1.0          3.0             2.0   3
3           NaN              0.0          4.0             1.0   4

In [ ]:
#getting total by id
merged_df['num']= (merged_df.total_requested+merged_df.total_accepted).astype(int)
merged_df

   requester_id  total_requested  accepter_id  total_accepted  id  num
0           1.0              2.0          NaN             0.0   1    2
1           2.0              1.0          2.0             1.0   2    2
2           3.0              1.0          3.0             2.0   3    3
3           NaN              0.0          4.0             1.0   4    1

In [ ]:
#getting user with max friend request
merged_df[['id','num']][merged_df.num==merged_df.num.max()]

   id  num
2   3    3

### Preparing Submission function

In [26]:
import pandas as pd

def most_friends(request_accepted: pd.DataFrame) -> pd.DataFrame:
    #getting total friend by requested
    request_df=request_accepted.requester_id.value_counts().rename('total_requested').reset_index()


    #getting total friend by accepter
    accept_df=request_accepted.accepter_id.value_counts().rename('total_accepted').reset_index()

    #merging both dataframe
    merged_df=request_df.merge(accept_df,how='outer',left_on='requester_id',right_on='accepter_id')
    merged_df['id']=merged_df.requester_id.fillna(merged_df.accepter_id).astype(int)   #getting final id column

    #filling with 0
    merged_df[['total_requested', 'total_accepted']] = merged_df[['total_requested','total_accepted']].fillna(value=0)

    #getting total by id
    merged_df['num']= (merged_df.total_requested+merged_df.total_accepted).astype(int)

    #getting user with max friend request
    return merged_df[['id','num']][merged_df.num==merged_df.num.max()]

In [ ]:
import pandas as pd

def most_friends(request_accepted: pd.DataFrame) -> pd.DataFrame:
    #getting total friend by requested
    request_df=request_accepted.requester_id.value_counts().rename('total_requested').reset_index()


    #getting total friend by accepter
    accept_df=request_accepted.accepter_id.value_counts().rename('total_accepted').reset_index()

    #merging both dataframe
    merged_df=request_df.merge(accept_df,how='outer',left_on='requester_id',right_on='accepter_id')
    merged_df['id']=merged_df.requester_id.fillna(merged_df.accepter_id).astype(int)   #getting final id column

    #filling with 0
    merged_df[['total_requested', 'total_accepted']] = merged_df[['total_requested','total_accepted']].fillna(value=0)

    #getting total by id
    merged_df['num']= (merged_df.total_requested+merged_df.total_accepted).astype(int)

    #getting user with max friend request
    return merged_df[['id','num']][merged_df.num==merged_df.num.max()]

### Testing the submission function

In [27]:
request_accepted=pd.read_csv('./test_data/p602_request_accepted.csv',delimiter='|')
request_accepted

   requester_id  accepter_id accept_date
0             1            2  2016/06/03
1             1            3  2016/06/08
2             2            3  2016/06/08
3             3            4  2016/06/09

In [28]:
most_friends(request_accepted=request_accepted)

   id  num
2   3    3