problem link: https://leetcode.com/problems/tree-node/description/?lang=pythondata

In [1]:
import pandas as pd

### Generating test cases

In [56]:
tree=pd.read_csv('./test_data/p608_tree.csv',delimiter='|')
tree

   id  p_id
0   1   NaN
1   2   1.0
2   3   1.0
3   4   2.0
4   5   2.0

In [57]:
tree.dtypes

id        int64
p_id    float64
dtype: object

In [58]:
tree.columns

Index(['id', 'p_id'], dtype='object')

### Solving problem

In [59]:
len(tree)

5

- if lenth=1 then Root
- if length>1
    - use value_counts to determine inner nodes

In [ ]:
#root node should have p_id null
tree.p_id.isnull()

0     True
1    False
2    False
3    False
4    False
Name: p_id, dtype: bool

In [62]:
#inner nodes will have values
tree.p_id.value_counts().reset_index().p_id.to_list()

[1.0, 2.0]

In [63]:
result_df=pd.DataFrame(tree.id)
result_df['type']='Leaf'
result_df

   id  type
0   1  Leaf
1   2  Leaf
2   3  Leaf
3   4  Leaf
4   5  Leaf

In [64]:

result_df[result_df.id.isin(tree.p_id.value_counts().reset_index().p_id.to_list())]

   id  type
0   1  Leaf
1   2  Leaf

In [65]:
#update inner nodes
result_df.loc[
    result_df.id.isin(tree.p_id.value_counts().reset_index().p_id.to_list()),   #boolean result
    'type'
] = 'Inner'
result_df

   id   type
0   1  Inner
1   2  Inner
2   3   Leaf
3   4   Leaf
4   5   Leaf

In [70]:
tree[tree.p_id.isnull()].id

0    1
Name: id, dtype: int64

In [71]:
result_df.id.isin(tree[tree.p_id.isnull()].id.to_list())

0     True
1    False
2    False
3    False
4    False
Name: id, dtype: bool

In [72]:
#update root nodes
result_df.loc[
    result_df.id.isin(tree[tree.p_id.isnull()].id.to_list()),   #boolean result
    'type'
] = 'Root'
result_df

   id   type
0   1   Root
1   2  Inner
2   3   Leaf
3   4   Leaf
4   5   Leaf

### Preparing Submission function

In [75]:
import pandas as pd

def tree_node(tree: pd.DataFrame) -> pd.DataFrame:
    
    #creating new dataframe initializing everything as leaf
    result_df=pd.DataFrame(tree.id)
    result_df['type']='Leaf'


    #update inner nodes
    result_df.loc[
        result_df.id.isin(tree.p_id.value_counts().reset_index().p_id.to_list()),   #boolean result
        'type'
    ] = 'Inner'

    #update root nodes
    result_df.loc[
        result_df.id.isin(tree[tree.p_id.isnull()].id.to_list()),   #boolean result
        'type'
    ] = 'Root'

    return result_df

### Testing the submission function

In [76]:
tree=pd.read_csv('./test_data/p608_tree.csv',delimiter='|')
tree

   id  p_id
0   1   NaN
1   2   1.0
2   3   1.0
3   4   2.0
4   5   2.0

In [77]:
tree_node(tree=tree)

   id   type
0   1   Root
1   2  Inner
2   3   Leaf
3   4   Leaf
4   5   Leaf